@mixin fixed($val){
	@include fixed_($val,$val,$val,$val);
}
@mixin fixed_($t,$r,$b,$l){
	position: fixed;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;
}
.m-nav-open{
	display: none;
}
@media all and (max-width: 812px){
	.main-nav{
		display: none;
	}
	.m-nav-open{
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		border: none;
		background: none;
		padding: 0;
		cursor: pointer;
		display: flex;
		svg {
			width: 40px;
			height: 40px;
		}
	}
}
@media all and (max-width: 767px){
	.m-nav-open{
		position: absolute;
		left: 5px;
		top: 5px;
	}
}
.acd-drop{
	&:after{
		content: '\002B';
	}
	&.active{
		&:after{
			content: '\2212';
		}
	}
}

@media all and (min-width: 992px){
	.m-nav, .m-nav-over{
		display: none !important;
	}
}

@media all and (max-width: 812px){
	$wid: 280px;
	$c1: red;
	.m-nav-over{
		@include fixed(0);
		z-index: 998;
		background: rgba(#000, 0.5);
		transition: all .15s ease-in-out;
	}
	.m-nav{
		display: block;
		position: fixed;
		top: 0;
		width: $wid;
		bottom: 0;
		z-index: 999;
		color: rgba(#fff, 0.75);
		background: #141414;
		transition: all .15s ease-in-out;
		left: -$wid;
		&.active{
			box-shadow: 0 0 6px 0 rgba(#fff, 0.15);
			left: 0;
			.m-nav-close{
				visibility: visible;
				opacity: 1;
			}
		}
		.m-nav-close{
			position: absolute;
			top: 0;
			width: 40px;
			height: 40px;
			left: 99%;
			background: #141414;
			outline: none;
			color: rgba(#fff, 1);
			font-size: 28px;
			cursor: pointer;
			transition: inherit;
			opacity: 0;
			visibility: hidden;
		}
		.nav-ct{
			height: 100%;
			overflow: auto;
			label{
				display: block;
				padding: 15px 15px 15px 65px;
				position: relative;
				border-bottom: solid 1px #444;
				i{
					position: absolute;
					left: 18px;
					top: 50%;
					transform: translateY(-50%);
					margin-top: 1px;
				}
				span{color: #fff;}
			}
		}
		
		ul{
			a{
				display: block;
				font-size: 14px;
				font-family: arial;
				line-height: 20px;
				padding: 10px 15px 10px 18px;
				border-top: solid 1px #444;
				&:hover, &.active{
					color: $c1;
				}
			}
			ul{
				background: rgba(#fff, 0.04);
				display: none;
				a{
					padding-left: 36px;
				}
				ul a{
					padding-left: 54px;
				}
			}
		}
		.acd-drop{
			width: 40px;
			height: 40px;
			float: right;
			position: relative;
			z-index: 1;
			font-size: 20px;
			color: inherit;
			font-family: monospace;
			outline: none;
			cursor: pointer;
			border-left: solid 1px #444;
			background: rgba(#fff, 0.04);
		}
		svg{
			display: none;
		}
	}
}