.banner, .banner .close {
    position: absolute;
    right: 0
}

html, body {
    overflow-x: hidden
}

body {
    margin: 0
}

#video_player {
    position: absolute
}

.jw-error .jw-preview, .jwplayer .jw-preview {
    background-size: cover !important
}

.jw-dock-image {
    background-size: 45%
}

.banner {
    top: 80px;
    background: #607d8b;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 1px;
    display: none
}

.banner .close {
    background: #37474f;
    color: #fff;
    padding: 2px 6px;
    top: -20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer
}


@media only screen and (max-width: 600px) {
    .banner {
        top: 30px;
        background: #607d8b;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        width: 200px;
        height: 150px;
        text-align: center;
        display: inline;
        padding: 1px
    }
}

.jw-icon-cc {
    display: none !important
}

.jw-toggle.jw-off {
    color: #d8d8d8
}

.jw-controlbar.jw-background-color.jw-reset {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .25) 30%, rgba(0, 0, 0, .4) 70%, rgba(0, 0, 0, .5))
}

.jw-icon-rewind {
    display: none !important
}

.jw-icon-settings {
    display: flex !important
}

.preloader {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background-color: #202124;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.preloader span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 15px;
    color: #d4d4d4
}

.preloader .preloader-icon {
    border: 2px solid #eee;
    border-radius: 50%;
    border-top: 2px solid #5066e1;
    width: 70px;
    height: 70px;
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.preloader svg path {
    fill: #5066e1
}
